
/*body {
    background-color: black;
    margin: 10px 0;
        
}
   
.wrapper {
    text-align: center;
    font-family: Arial, sans-serif;
    
}


h2 {
    font-size: 24px;
    color: black;
    margin: 10px 0;
}


p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}


.form {
    background-color: #645c57;
    padding: 20px ;
    border-radius: 10px;
    margin: 80px auto;
    max-width: 500%;
    

}


h2, h3 {
    color: black;
}


.inputfield {
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.inputfield.terms label {
    display: inline;
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 5px;
    
}


.btn {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


a {
    color: blueviolet;
    text-decoration: underline;
}


a:hover {
    text-decoration: underline;
}
*/


body {
    background: url(images/city1.jpeg) 100%;
    background-size: cover;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-size: cover;
    color: whitesmoke;
    backdrop-filter: blur(4px);
    
}

.container{
    padding-left: 290px;
    background-color: rgba(0, 0, 0, 0.418);
}

.btn {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
