.content{
    margin: 70px;
}
.fixed-page {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#dropdownIcon{
    padding-right: 70px;
    padding-top: 20px;
}

.social-media{
    padding-top: 10px;
}

.footer .box-container{
    display: flex;
    color: beige;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: rgb(24, 23, 21);
    text-decoration: none;
}

.footer .box-container .studentDetails{
    flex: 25rem;
    text-decoration: none;
}

.footer .box-container .studentDetails h3{
    color: beige;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.footer .box-container .studentDetails a{
    display: block;
    color: beige;
    font-size: 1rem;
    padding: 0.5rem 0;
}

.footer .box-container .box a:hover{
    text-decoration: underline;

}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: beige;
    border-top: .1rem solid rgba(0, 0, 0, .1);

}

.footer .credit span{
    color: aqua;
}

.dropdownMenu {
    display: none;
    background-color: #075019; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}

.dropdown li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.imgbanner{
    width: 100%;
}



