footer{
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0%;
}

a{
    color: white;
    text-decoration: none;
}

.social{
    font-weight: 600;
}

footer .logo{
    font-size: 40px;
}