nav{
    background-color: black;
    font-family: 'DM Serif Display', serif;
    /* text-align: center; */

}

    nav a{
        color: white;
        text-decoration: none;
    }

    .logo{
        font-size: 50px;
    }

    .nav01{
        padding: 10px;
    }









